extends layout
block content
    .container.mt-5
      h4.text-center Explore Image Matters
      p
        | Image Matters is a software technology and professional services company that produces software products, develops advanced technology solutions, and provides consulting services to commercial, non-profit and government clients. Image Matters specializes in GeoSocial Mobile Web, Semantic Web (Web 3.0), Web 2.0, Sensor Web, Cloud-based SaaS/PaaS platforms, Geographic Information Systems (GIS), Web services, and Location-Based Services (LBS). Image Matters also offers a complement of professional services to apply these technologies in support of user communities ranging from Digital Globe and National Geographic to US Army. Its primary vertical markets are commercial, defense, intelligence, homeland security, environmental, and natural resource management. Image Matters also serves the horizontal market for GeoSocial Mobile Web and Semantic Web infrastructure.
    .section.section-style-2(style="color: #000000; background-color: #F8F9FA; background-image: url('');")
      .container
        .row
          .col-xs-12
            .row
              .col-md-6
                p
                  img.about.alignnone.wp-image-208.size-full(src='http://www.imagemattersllc.com/wp-content/uploads/2016/04/bokeh_jefferson_memorial.jpg', width='720', height='457', srcset='http://www.imagemattersllc.com/wp-content/uploads/2016/04/bokeh_jefferson_memorial.jpg 720w, http://www.imagemattersllc.com/wp-content/uploads/2016/04/bokeh_jefferson_memorial-300x190.jpg 300w', sizes='(max-width: 720px) 100vw, 720px')
              // /col-md-6
              .col-md-6
                h2 Corporate Vision
                ul
                  li
                    | To be leaders in innovation for tough industry challenges like Big Data analytics-on-demand, geospatial Web infrastructure and Structured Analytics
                  li
                    | A world of vastly enhanced Internet experiences made possible by “Smart Web” solutions from Image Matters, which are comprised of intelligent services enabled by Semantic Web (Web 3.0), GeoSocial Mobile Web, and Sensor Web technologies
                  li
                    | To be a company with world class people and provide a great environment where we can prosper and better the world through technology
                  li
                    | To be leaders and well-respected in our target markets, with high integrity and high customer satisfaction
              // /col-md-6
              // /row
              // /col-xs-12
              // /row
              // /container
    .section.section-style-3(style="color: #000000; background-color: #F8F9FA; background-image: url('');")
      .container
        .row
          .col-xs-12
            .row
              .col-md-6
                h2 Corporate Values
                ul
                  li Respect for individuals
                  li Dedication to the success of our customers
                  li Highest standards of integrity
                  li Highest standards of innovation, quality, and excellence
                  li Team work
                  li Good corporate citizens
              // /col-md-6
              .col-md-6
                p
                  img.about.alignnone.wp-image-207.size-full(src='http://www.imagemattersllc.com/wp-content/uploads/2016/04/historic-Leesburg.jpg', width='720', height='460', srcset='http://www.imagemattersllc.com/wp-content/uploads/2016/04/historic-Leesburg.jpg 720w, http://www.imagemattersllc.com/wp-content/uploads/2016/04/historic-Leesburg-300x192.jpg 300w', sizes='(max-width: 720px) 100vw, 720px')
              // /col-md-6
              // /row
              // /col-xs-12
              // /row
              // /container
    .container
      .row
        .col-6.mb-5
          h2 We are committed to helping people and organizations change more effectively
        .col-6
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur excepturi suscipit sunt aut inventore nemo asperiores quidem ipsa reiciendis, error sapiente explicabo alias corporis recusandae? Debitis accusantium, dicta maiores sit?
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat facilis quaerat enim laboriosam provident tempore. Nemo quam natus, aliquid nobis esse rerum aut, fugiat illum a excepturi magnam quisquam quo!
            
    .container.text-center
      h2 Prosci Members
      ul#pills-tab.nav.nav-pills.justify-content-center(role='tablist')
        li.nav-item
          a#pills-home-tab.btn.btn-dark(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Керівництво
        li.nav-item
          a#pills-profile-tab.btn.btn-dark(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Інструктори та консультанти
      #pills-tabContent.tab-content
        #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
          .row
            .col-md-4
              .card.border-0(style='width: 16rem;')
                img.card-img-top(src='https://via.placeholder.com/300', alt='...')
                .card-body
                  h4 Scott McAllister
                  p.card-text(style='font-size: 12px;') CHIEF EXECUTIVE OFFICER (CEO)
            .col-md-4
              .card.border-0(style='width: 16rem;')
                img.card-img-top(src='https://via.placeholder.com/300', alt='...')
                .card-body
                  h4 Scott McAllister
                  p.card-text(style='font-size: 12px;') CHIEF EXECUTIVE OFFICER (CEO)
            .col-md-4
              .card.border-0(style='width: 16rem;')
                img.card-img-top(src='https://via.placeholder.com/300', alt='...')
                .card-body
                  h4 Scott McAllister
                  p.card-text(style='font-size: 12px;') CHIEF EXECUTIVE OFFICER (CEO)
        #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
          .row
            .col-md-4
              .card.border-0(style='width: 16rem;')
                img.card-img-top(src='https://via.placeholder.com/300', alt='...')
                .card-body
                  h4 Scott McAllister
                  p.card-text(style='font-size: 12px;') CHIEF EXECUTIVE OFFICER (CEO)
            .col-md-4
              .card.border-0(style='width: 16rem;')
                img.card-img-top(src='https://via.placeholder.com/300', alt='...')
                .card-body
                  h4 Scott McAllister
                  p.card-text(style='font-size: 12px;') CHIEF EXECUTIVE OFFICER (CEO)
            .col-md-4
              .card.border-0(style='width: 16rem;')
                img.card-img-top(src='https://via.placeholder.com/300', alt='...')
                .card-body
                  h4 Scott McAllister
                  p.card-text(style='font-size: 12px;') CHIEF EXECUTIVE OFFICER (CEO)


    #boxes-wrapper
      .container
        .row
          .table-row
            .feature-box
              a(href='http://www.imagemattersllc.com/about-us/corporate-profile/')
                h3 Corporate Profile
              p
                | Image Matters is a privately held Limited Liability Corporation with its headquarters located in the historic district of Leesburg, Virginia, and our Mid-West operation office located in Bloomington, Indiana. People and values are our greatest assets. We know that every invention, every product, and every advancement we’ve brought to the geospatial community has been powered by people. We specialize in developing and applying geospatial and semantic infrastructure technologies for a wide variety of applications and services. We are committed to continuous improvement and customer satisfaction.
              br
              br
              .feature-box-button
                a.btn.btn-dark(href='http://www.imagemattersllc.com/about-us/corporate-profile/') Learn More
            // /feature-box
            .feature-box
              a(href='http://www.imagemattersllc.com/about-us/our-history/')
                h3 Our History
              p
                | Image Matters’ history is full of discoveries, starting in 2001 we were at the forefront of geospatial semantic research for government agencies. Since then, advances large and small have fueled our progress. Image Matters is most recognized for its software technology innovations, and its contributions to the advancement of GeoSocial Web and Semantic Web infrastructures. Our founding partners are: Harry Niedzwiadek, Janine Hussey, and John Davidson. Kurt Buehler, the co-founder of Open Geospatial Consortium (OGC), became a partner and President in 2004. CTO and partner Randy Gladish joined the company in 2010 to spearhead product development.
              br
              br
              .feature-box-button
                a.btn.btn-dark(href='http://www.imagemattersllc.com/about-us/our-history/') Learn More
            // /feature-box
            .feature-box
              a(href='http://www.imagemattersllc.com/about-us/leadership/')
                h3 Leadership
              p
                | The executive management team at Image Matters is comprised of widely respected industry leaders who are some of the most experienced technology professionals in the geospatial software industry. They are passionate leaders committed to leadership roles in the industry. They bring the best leadership to our employees, our customers and our partners while guiding the company to deliver innovative solutions that enhance our customers’ businesses and help them secure their own leadership roles.
              br
              br
              .feature-box-button
                a.btn.btn-dark(href='http://www.imagemattersllc.com/about-us/leadership/') Learn More
                        //feature-box
                            .row
                              .table-row
                                    // /row
                                    // /container
                                    .col-md-12.text-center
    .col-md-12.text-center
      h2 Приєднуйтесь до нашої команди, яка розвивається!
      div
        abutton.btn.btn-dark(type='button')(href='#') SEE JOB OPENINGS




          style.
                
               /*header img, footer img, .blue-button, .orange-button { 
                    transition: all 1s;
                    -moz-transition: all 1s; 
                    -webkit-transition: all 1s; 
                    -o-transition: all 1s;
                }
                html, body {
                    background: #fff;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.5;
                    text-align: left;
                    color: #6e6e7c;
                }
                body {
                    overflow-x: hidden;
                }
                strong {
                  font-weight: 700;
                }
                em {
                  font-style: italic;
                }
               
                h1 { 
                    display: inline-block;
                    font-size: 28px;
                    font-weight: 300;
                    color: #1f3d7c;
                    margin-top: 5px;
                    padding-bottom: 10px;
                }
                h2 { 
                    display: inline-block;
                    font-size: 23px;
                    color: #272727;
                    font-weight: 400;
                    padding-bottom: 10px;
                    line-height: 1.5;
                }
                h3 { 
                    display: inline-block;
                    font-size: 18px;
                    font-weight: 600;
                    color: #1f3d7c;
                    margin-top: 10px;
                    padding-bottom: 10px;
                }
                h4 {
                    font-size: 17px;
                    font-weight: 400;
                    color: #000;
                }
                h5 { 

                }*/


                /* no gutters row */
                .row.no-gutters {
                  margin-right: 0;
                  margin-left: 0;
                }
                .row.no-gutters > [class^="col-"],
                .row.no-gutters > [class*=" col-"] {
                  padding-right: 0;
                  padding-left: 0;
                }



                /* images */
                img.about {
                    max-width: 100%;
                    height: auto;
                }
                .alignleft {
                    float: left;
                    margin-right: 70px;
                }
                .alignright {
                    float: right;
                    margin-left: 70px;
                }
                .aligncenter {
                    display: block;
                    float: none;
                    margin: 0 auto;
                    text-align: center;
                }




                /* buttons */
                .blue-button, .vfb-submit {
                    display: inline block;
                    background: #1f3d7c;
                    font-weight: 400;
                    color: #fff !important;
                    text-align: center;
                    text-decoration: none;
                    padding: 4px 30px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    border-radius: 6px;
                }
                .blue-button:hover, .vfb-submit:hover {
                    background: #d8d8d8;
                    color: #000 !important;
                    text-decoration: none;
                }
                .orange-button {
                    display: inline block;
                    background: #f68a3d;
                    font-weight: 400;
                    color: #fff !important;
                    text-align: center;
                    text-decoration: none;
                    padding: 4px 30px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    border-radius: 6px;
                }
                .orange-button:hover {
                    background: #d8d8d8;
                    color: #000 !important;
                    text-decoration: none;
                }
                .full-button {
                    display: block;
                }


                /* header */
                header {
                    position: fixed;
                    top: 0;
                    width: 100%;
                    z-index: 6666;
                    width: 100%;
                    background-color: rgb(255, 255, 255);
                    background-color: rgba(255, 255, 255, 0.9);
                    border-top: 3px solid #f68a3d;
                    border-bottom: 1px solid #dbdbdb;
                }
                .logo {
                  margin: 10px 0;
                }
                header img:hover {
                    opacity: .6;
                }
                .top-nav {
                    overflow: hidden;
                    text-align: right;
                    padding-top: 10px;
                    padding-bottom: 8px;
                }
                .top-nav ul {
                    float: right;
                    list-style: none;
                    margin: 0;
                    padding: 4px 10px 4px 10px;
                    background: #f9f4f1;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                }
                .top-nav ul li {
                    float: left;
                }
                .top-nav ul li {
                    position: relative;
                    padding: 0;
                    margin: 0;
                }
                .top-nav ul ul li {
                    border: none;
                }
                .top-nav ul li a, .top-nav ul li a:visited {
                    display: block;
                    font-size: 12px;
                    color: #1f3d7c;
                    margin: 0 4px;
                    line-height: 1;
                    padding-right: 7px;
                    border-right: 1px solid #6e6e7c;
                }
                .top-nav ul li a:hover {
                    text-decoration: none;
                    color: #f68a3d;
                }
                .top-nav ul li a:active {
                    color: #1f3d7c;
                }
                .top-nav ul li:last-child a {
                    border-right: none;
                    padding-right: 0;
                }



                /* main menu */
                #navigation {

                }
                /*
                #navigation ul {
                    float: right;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
                #navigation ul li {
                    float: left;
                }*/
                
              
               /*
                #navigation ul li {
                    position: relative;
                    padding: 0;
                    margin: 0;
                }
                #navigation ul ul li {
                    border: none;
                }
                #navigation ul li a {
                    display: block;
                    text-decoration: none;
                    font-size: 15px;
                    color: #1f3d7c;
                    padding-right: 25px;
                }
                
                #navigation ul li:hover a {
                    color: #f68a3d;
                }
                #navigation ul li:last-child a {
                    padding-right: 0;
                }
                #navigation ul li>a:not(:only-child):after {
                       content: url(img/menu-arrow.png);
                       padding-left: 0.5em;
                }
                #navigation ul ul,	#navigation ul li:hover ul ul {
                    position: absolute;
                    display: none;
                }
                #navigation ul ul li:hover ul, #navigation ul li:hover ul li:hover ul {
                    display: block;
                    top: 0px;
                    left: 100%;
                }
              
                #navigation ul li:hover ul {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: auto;
                    height: auto;
                    margin: 0;
                    padding:0;
                    z-index: 99999 !important;
                }
                #navigation ul ul {
                    background: #f9f4f1;
                    border: 1px solid #1f3d7c;
                }
                #navigation ul ul ul {
                    background: #f9f4f1 !important;
                    border: 1px solid #1f3d7c;
                    text-align: left;
                }
                #navigation ul ul li a {
                    float: none;
                    width: 250px;
                    line-height: normal;
                    font-variant: normal;
                    font-weight: normal;
                    font-size: 14px;
                    color: #1f3d7c !important;
                    padding: 6px 10px;
                    background: none !important;
                }
                #navigation ul ul ul li a {
                    color: #1f3d7c !important;
                }
                #navigation ul ul li:hover>a {
                    color: #f68a3d !important;
                }
                #navigation ul ul ul li:hover>a {
                    color: #f68a3d !important;
                }
                #navigation li.current-menu-item>a {
                  font-weight: 400;
                }
                #navigation li.current-menu-parent>a {
                  font-weight: 400;
                }
                .menu-spacer {
                    height: 75px;
                }
                #responsive-menu {
                  opacity: .90 !important;
                }
                #responsive-menu .responsive-menu {
                    padding-top: 40px !important;
                }
                #responsive-menu .responsive-menu li a {
                    padding: 10px 0px 10px 10px !important;
                    border-top: none !important;
                }
                #responsive-menu .responsive-menu li li a {
                    padding-left: 0 !important;
                    margin-left: 0 !important;
                    width: 100% !important;
                } */


                /* main content */
                .section ul li, ul.category-posts li  {
                  padding-bottom: 5px;
                  margin-bottom: 5px;
                }
                .container p {
                    padding-bottom: 10px;
                }
                #title-bar {
                    width: 100%;
                    background-color: #f9f4f1;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-bottom: 1px solid #dbdbdb;
                }
                .job-details {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                .job-buttons {
                    text-align: left;
                    padding-top: 20px;
                }
                .job-buttons a {
                    width: 90%;
                }
                ul.post-categories {
                    display: inline;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
                ul.post-categories li {
                    display: inline;
                }
                ul.job-listing li  {
                    display: block;
                    float: left;
                    width: 50%;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }



                /* breadcrumbs */
                #breadcrumbs {
                    list-style:	none;
                    margin:	10px 0	2px 0;
                    overflow: hidden;
                } 
                ul.breadcrumbs {
                    padding: 0;
                    margin: 0;
                }
                #breadcrumbs li {
                    display: inline-block;
                    vertical-align:	middle;
                    margin-right: 7px;
                    font-size: 12px;
                }  
                #breadcrumbs .separator {
                    font-size: 18px;
                    font-weight: 100;
                    color:	#ccc;
                }



                /* boxes */
                #boxes-wrapper {
                    overflow: hidden;
                    width: 100%;
                    background: #e8e8e8;
                    padding: 15px 0;
                }
                .table-row {
                    display: table;
                }
                .feature-box {
                    position: relative;
                    display: table-cell;
                    vertical-align: top;
                    width: 30%;
                    border: 5px solid #e8e8e8;
                    height: 100%;
                    background: #fff;
                    padding: 10px;
                }
                .feature-box-button {
                    position: absolute;
                    display: block;
                    width: 98%;
                    bottom: 2px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                .feature-box-banner {
                    width: 100%;
                }
                .bio-box {
                    position: relative;
                    display: table-cell;
                    vertical-align: top;
                    width: 48%;
                    border: 5px solid #e8e8e8;
                    height: 100%;
                    background: #fff;
                    padding: 30px;
                }
                .bio-box h3 {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                .bio-quote {
                    font-size: 17px;
                    font-style: italic;
                    font-weight: 400;
                    color: #1f3d7c;
                }
                .bio-image {
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    border-radius: 100px;	
                }




                /* sections */
                .section {
                    overflow: hidden;
                    width: 100%;
                    padding: 20px 0 10px 0;
                    background-position: left center;
                    background-repeat: no-repeat;
                }
                .section h2 {
                    padding-top: 0;
                    margin-top: 0;
                }
                ul.children {
                    padding-top: 10px;
                }
                ul.job-listing li {
                    display: block;
                    width: 50%;
                }



                /* job page */
                .share-buttons {
                    margin: 0 auto;
                    text-align: center;
                    display: none;
                }
                .sharify-container {
                    padding: 0 !important;
                    margin: 0 !important;
                }
                .sharify-container ul {
                    padding: 5px !important;
                    margin: 5px !important;
                }
                .job-button-wrapper {
                    padding-bottom: 6px;
                }


                /* forms */
                .visual-form-builder-container ul {
                    padding: 0 !important;
                    margin: 0 !important;
                }
                .visual-form-builder {
                    padding-top: 0 !important;
                    margin-top: 0 !important;
                }
                .visual-form-builder-container label {
                    display: block;
                    font-weight: 400;
                }
                .visual-form-builder-container h3 {
                    padding-top: 0 !important;
                    margin-top: 0 !important;
                }
                .vfb-legend {
                    height: 1px;
                }
                .vfb-left-half {
                    float: left;
                    width: 49%;
                    color: #000 !important;
                }
                .vfb-right-half {
                    float: right;
                    width: 49%;
                    color: #000 !important;
                }
                .vfb-text {
                    width: 100%;
                    color: #000 !important;
                }
                .vfb-textarea {
                    width: 100% !important;
                    color: #000 !important;
                }



                /* slide-out Contact tray */
                .slideout-button {
                    position: fixed;
                    top: 85px;
                    right: 0;
                    width: 24px;
                    height: 76px;
                    background-color: #f68a3d;
                    background-image: url('img/button-contact.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    border: 1px solid #1f3d7c;
                    -webkit-border-top-left-radius: 6px;
                    -webkit-border-bottom-left-radius: 6px;
                    -moz-border-radius-topleft: 6px;
                    -moz-border-radius-bottomleft: 6px;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    -webkit-transition-duration: 0.3s;
                    -moz-transition-duration: 0.3s;
                    -o-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                }
                #slideout {
                    background: #fff;
                    box-shadow: 0 0 5px rgba(0,0,0,.3);
                    color: #333;
                    position: fixed;
                    top: 85px;
                    right: -420px;
                    width: 400px;
                    padding: 10px 0 0 10px;
                    -webkit-transition-duration: 0.3s;
                    -moz-transition-duration: 0.3s;
                    -o-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                }
                #slideout form {
                    display: block;
                    padding: 20px;
                }
                #slideout textarea {
                    display:block;
                    height: 100px;
                    margin-bottom: 6px;
                    width: 250px;
                }
                #slideout.on {
                    right: 0px;
                }
                .slideout-button.on {
                    right: 400px;
                }



                /* home slider */
                #slider-wrapper {
                    width: 100%; 
                    background: #000;
                }



                /* footer */
                footer {
                    padding: 30px 0 40px 0;
                    font-size: 14px;
                    border-top: 2px solid #f68a3d;
                }
                .footer-logo {
                    width: 180px;
                    height: auto;
                    margin-bottom: 6px;
                }
                .footer-social {
                    text-align: right;
                }
                .footer-social img {
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
                .footer-social img:hover, .footer-logo:hover {
                    opacity: .6;
                }



                /* footer menu */
                #footernav ul {
                    float: right;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
                #footernav ul li {
                    float: left;
                }
                #footernav ul li {
                    position: relative;
                    padding: 0;
                    margin: 0;
                }
                #footernav ul ul li {
                    border: none;
                }
                #footernav ul li a, #footernav ul li a:visited {
                    display: block;
                    font-size: 14px;
                    color: #1f3d7c;
                    margin: 0 4px;
                    line-height: 1;
                    padding-right: 7px;
                    border-right: 1px solid #6e6e7c;
                }
                #footernav ul li a:hover {
                    text-decoration: none;
                    color: #f68a3d;
                }
                #footernav ul li a:active {
                    color: #1f3d7c;
                }
                #footernav ul li:last-child a {
                    border-right: none;
                    padding-right: 0;
                }



                /* Google maps */
                .google-maps {
                    position: relative;
                    padding-bottom: 75%;
                    height: 0;
                    overflow: hidden;
                }
                .google-maps iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100% !important;
                    height: 100% !important;
                }






                /* RESPONSIVE MEDIA QUERIES: */

                /* "Large" */
                @media (min-width: 1200px) {


                }

                /* "Medium" */
                @media (min-width: 992px) and (max-width: 1199px) {

                .bio-quote {
                    font-size: 15px;
                }

                }


                /* "Small" */
                @media (min-width: 768px) and (max-width: 991px) {

                    h1 {
                        font-size: 26px;
                    }
                    h2 {
                        font-size: 22px;
                    }
                    .mobile-header {
                        display: block;
                        background: #fff;
                        width: 100%;
                        height: 60px;
                        overflow: hidden;
                    }
                    .mobile-logo {
                        display: block;
                        text-align: left;
                        padding-left: 30px;
                    }
                    .mobile-logo img {
                        width: 200px;
                        margin-top: 4px;
                    }
                    .menu-spacer {
                        height: 2px;
                    }
                    .bio-box {
                        display: block;
                        width: 100%;
                    }
                    .bio-quote {
                        padding-bottom: 20px;
                    }
                    .full-button {
                        font-size: 13px;
                        padding: 4px 10px;
                    }
                    .slideout-button {
                        top: 70px;
                    }

                }



                /* "Extra Small" */
                @media (max-width: 767px) {

                    h1 {
                        font-size: 21px;
                    }
                    h2 {
                        font-size: 19px;
                    }
                    .mobile-header {
                        display: block;
                        background: #fff;
                        width: 100%;
                        height: 60px;
                        overflow: hidden;
                    }
                    .mobile-logo {
                        display: block;
                        text-align: left;
                        padding-left: 10px;
                    }
                    .mobile-logo img {
                        width: 180px;
                        margin-top: 6px;
                    }
                    .menu-spacer {
                        height: 2px;
                    }
                    #title-bar {
                        background-image: none !important;
                    }
                    .feature-box {
                        display: block;
                        width: 100%;
                    }
                    .bio-box {
                        display: block;
                        width: 100%;
                        padding: 10px;
                    }
                    .bio-quote {
                        padding-bottom: 20px;
                    }
                    #breadcrumbs li {
                        margin-right: 3px;
                        font-size: 11px;
                    }  
                    #breadcrumbs .separator {
                        font-size: 14px;
                        }
                    .slideout-button {
                        display: none;
                    }
                    ul.job-listing li  {
                        float: none;
                        width: 100%;
                    }
                    footer {
                        text-align: center;
                    }
                    .footer-social {
                        text-align: center;
                    }
                    .footer-social img {
                        margin-top: 10px;
                        margin-bottom: 30px;
                    }
                    #footernav ul li a, #footernav ul li a:visited {
                        font-size: 13px;
                        font-weight: 400;
                    }

                }





                /* other stuff */
                noscript {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 99999;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    min-width: 100%;
                    min-height: 100%;
                    overflow: hidden;
                    background-color: #8f9297;
                    color: #fff;
                }.
                noscript > p {
                    width: 66.667%;
                    margin: 50px auto 0;
                    text-align: center;
                    color: #fff;
                }

                /*about us end*/
