extends layout
block content
    #main-content.container(role='main')
      .primary
        .view-article-lists-block-12
          ul.media-grid.media-grid--3
            li
              article.media
                .media__icon
                  a(href='/topic/animal-world')
                  a(href='/topic/animal-world')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/animal-world') Animal World
                  p.byline
                    | Curated by 
                    a(href='/author/david-grimm') David Grimm
                    | , 
                    a(href='/author/sacha-vignieri') Sacha Vignieri
            li
              article.media
                .media__icon
                  a(href='/topic/cancer')
                  a(href='/topic/cancer')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/', alt='cancer')
                .media__body
                  h2.media__headline
                    a(href='/topic/cancer') Cancer
                  p.byline
                    | Curated by 
                    a(href='/author/yevgeniya-nusinovich') Yevgeniya Nusinovich
                    | , 
                    a(href='/author/paula-kiberstis-0') Paula Kiberstis
            li
              article.media
                .media__icon
                  a(href='/topic/changing-arctic')
                  a(href='/topic/changing-arctic')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/changing-arctic') Changing Arctic
                  p.byline
                    | Curated by 
                    a(href='/author/carolyn-gramling') Carolyn Gramling
                    | , 
                    a(href='/author/h-jesse-smith') H. Jesse Smith
            li
              article.media
                .media__icon
                  a(href='/topic/conservation')
                  a(href='/topic/conservation')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/', alt='Trees in a forest')
                .media__body
                  h2.media__headline
                    a(href='/topic/conservation') Conservation
                  p.byline
                    | Curated by 
                    a(href='/author/julia-fahrenkamp-uppenbrink') Julia Fahrenkamp-Uppenbrink
            li
              article.media
                .media__icon
                  a(href='/topic/crispr')
                  a(href='/topic/crispr')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/', title='V. Altounian, Science')
                .media__body
                  h2.media__headline
                    a(href='/topic/crispr') CRISPR
                  p.byline
                    | Curated by 
                    a(href='/author/jon-cohen') Jon Cohen
            li
              article.media
                .media__icon
                  a(href='/topic/ebola')
                  a(href='/topic/ebola')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/', alt='The Ebola virus')
                .media__body
                  h2.media__headline
                    a(href='/topic/ebola') Ebola
            li
              article.media
                .media__icon
                  a(href='/topic/energy')
                  a(href='/topic/energy')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/energy') Energy
                  p.byline
                    | Curated by 
                    a(href='/author/daniel-clery') Daniel Clery
                    | , 
                    a(href='/author/jake-yeston') Jake Yeston 
            li
              article.media
                .media__icon
                  a(href='/topic/gravitational-waves')
                  a(href='/topic/gravitational-waves')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/', alt='black holes')
                .media__body
                  h2.media__headline
                    a(href='/topic/gravitational-waves') Gravitational Waves
                  p.byline
                    | Curated by 
                    a(href='/author/adrian-cho') Adrian Cho
                    | , 
                    a(href='/author/keith-t-smith') Keith T. Smith
            li
              article.media
                .media__icon
                  a(href='/topic/hivaids')
                  a(href='/topic/hivaids')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/', title='V. Altounian, Science')
                .media__body
                  h2.media__headline
                    a(href='/topic/hivaids') HIV/AIDS
            li
              article.media
                .media__icon
                  a(href='/topic/human-evolution')
                  a(href='/topic/human-evolution')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/human-evolution') Human Evolution
                  p.byline
                    | Curated by 
                    a(href='/author/elizabeth-culotta') Elizabeth Culotta
                    | , 
                    a(href='/author/andrew-sugden') Andrew Sugden
            li
              article.media
                .media__icon
                  a(href='/topic/infectious-disease')
                  a(href='/topic/infectious-disease')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/', alt='disease molecule')
                .media__body
                  h2.media__headline
                    a(href='/topic/infectious-disease') Infectious Disease
                  p.byline
                    | Curated by 
                    a(href='/author/martin-enserink') Martin Enserink
                    | , 
                    a(href='/author/caroline-ash') Caroline Ash
            li
              article.media
                .media__icon
                  a(href='/topic/memory')
                  a(href='/topic/memory')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/memory') Memory
                  p.byline
                    | Curated by 
                    a(href='/author/emily-underwood') Emily Underwood
                    | , 
                    a(href='/author/peter-stern') Peter Stern
            li
              article.media
                .media__icon
                  a(href='/topic/microbiome')
                  a(href='/topic/microbiome')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/microbiome') Microbiome
                  p.byline
                    | Curated by 
                    a(href='/author/elizabeth-pennisi') Elizabeth Pennisi
            li
              article.media
                .media__icon
                  a(href='/topic/natural-hazards')
                  a(href='/topic/natural-hazards')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/natural-hazards') Natural Hazards
                  p.byline
                    | Curated by 
                    a(href='/author/brent-grocholski') Brent Grocholski
            li
              article.media
                .media__icon
                  a(href='/topic/optics')
                  a(href='/topic/optics')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/optics') Optics
                  p.byline
                    | Curated by 
                    a(href='/author/robert-f-service') Robert F. Service
                    | , 
                    a(href='/author/ian-osborne') Ian Osborne
            li
              article.media
                .media__icon
                  a(href='/topic/planets')
                  a(href='/topic/planets')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/planets') Planets
                  p.byline
                    | Curated by 
                    a(href='/author/eric-hand') Eric Hand
                    | , 
                    a(href='/author/keith-t-smith') Keith T. Smith
            li
              article.media
                .media__icon
                  a(href='/topic/pluto')
                  a(href='/topic/pluto')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/', alt='Pluto')
                .media__body
                  h2.media__headline
                    a(href='/topic/pluto') Pluto
            li
              article.media
                .media__icon
                  a(href='/topic/robots')
                  a(href='/topic/robots')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/robots') Robots
                  p.byline
                    | Curated by 
                    a(href='/author/richard-stone') Richard Stone
                    | , 
                    a(href='/author/marc-s-lavine') Marc S. Lavine
            li
              article.media
                .media__icon
                  a(href='/topic/stem-cells')
                  a(href='/topic/stem-cells')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/stem-cells') Stem Cells
                  p.byline
                    | Curated by 
                    a(href='/author/kelly-servick') Kelly Servick
                    | , 
                    a(href='/author/beverly-purnell') Beverly A. Purnell
            li
              article.media
                .media__icon
                  a(href='/topic/water')
                  a(href='/topic/water')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/water') Water
                  p.byline
                    | Curated by 
                    a(href='/author/erik-stokstad') Erik Stokstad
            li
              article.media
                .media__icon
                  a(href='/topic/zika-virus')
                  a(href='/topic/zika-virus')
                    img(typeof='foaf:Image', src='https://via.placeholder.com/150x200/000000/ffffff/')
                .media__body
                  h2.media__headline
                    a(href='/topic/zika-virus') Zika Virus
                    
        button.btn.btn-dark.btn-sm.btn-block.mx-auto.mt-2.mb-2(type='button', style='width: 20rem;') Більше новин
                    
      .secondary
        #aaas-oas_Right2
        .layout-item
          h4 Останні публікації
          .container
            ul#myTab.nav.nav-tabs(role='tablist')
              li.nav-item
                a#home-tab.nav-link.active.addst(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Тенденції
              li.nav-item
                a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Найбільш читаються
            #myTabContent.tab-content
              #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
                .container
                  ol
                    li.mb-2.bb Lorem ipsum dolor sit amet
                    li.mb-2.bb Consectetur adipiscing elit
                    li.mb-2.bb Integer molestie lorem at massa
                    li.mb-2.bb Facilisis in pretium nisl aliquet
                    li.mb-2.bb Nulla volutpat aliquam velit
                    li.mb-2.bb Faucibus porta lacus fringilla vel
                    li.mb-2.bb Aenean sit amet erat nunc
                    li.mb-2.bb Eget porttitor lorem
                h4 Останні новини
                span.card-body
                  a.bb(style='color: #999999; display: block;', href='#')
                    | Some quick example text to build on the card
                    br
                    |  title and make up the bulk of the card's content.
                span.card-body
                  a.bb(style='color: #999999; display: block;', href='#')
                    | Some quick example text to build on the card
                    br
                    |  title and make up the bulk of the card's content.
                span.card-body
                  a.bb(style='color: #999999; display: block;', href='#')
                    | Some quick example text to build on the card
                    br
                    |  title and make up the bulk of the card's content.
                span.card-body
                  a.bb(style='color: #999999; display: block;', href='#')
                    | Some quick example text to build on the card
                    br
                    |  title and make up the bulk of the card's content.
                span.card-body.float-right
                  a(style='color: #999999; display: block;', href='#') Повний список
              #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
                #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
                  .container
                    ol
                      li.mb-2.border-bottom Lorem ipsum dolor sit amet
                      li.mb-2.border-bottom Consectetur adipiscing elit
                      li.mb-2.border-bottom Integer molestie lorem at massa
                      li.mb-2.border-bottom Facilisis in pretium nisl aliquet
                      li.mb-2.border-bottom Nulla volutpat aliquam velit
                      li.mb-2.border-bottom Faucibus porta lacus fringilla vel
                      li.mb-2.border-bottom Aenean sit amet erat nunc
                      li.mb-2.border-bottom Eget porttitor lorem
        .layout-item.home__express
        
        .container.jumbotron.mt-5
              #content_7.primary
                h2.text-center Як зробити публікацію
                p
                  | Сила науки та її інтернет-журнал-сайти спирається на сильні сторони своєї спільноти авторів, які забезпечують передові дослідження, гострі наукові коментарі та розуміння того, що важливо для наукового світу. Щоб дізнатися більше про те, як опублікувати їх у будь-якому з наших журналів, відвідайте наш посібник для учасників, або відвідайте сторінку інструкцій для кожного окремого журналу.
                p
                  a.bfl(href='//www.sciencemag.org/authors/information-authors')
                    cite Наука
                  |  
                  a.bfl(href='//advances.sciencemag.org/content/information-authors')
                    cite Досягнення науки
                  |  
                  a.bfl(href='//www.sciencemag.org/journals/immunology/information-for-authors')
                    cite Наукова імунологія
                  |  
                  a.bfl(href='//stke.sciencemag.org/about/ifora')
                    cite Сигналізування науки
                  |  
                  a.bfl(href='//stke.sciencemag.org/about/ifora')
                    cite Інформація для авторів
                  |  
                  a.bfl(href='//stm.sciencemag.org/content/information-authors')
                    cite Наукова трансляційна медицина
                a.button.btn.btn-dark(type='button')(style='width: auto; display: inline-block;', href='articles/add') Почати
              #content_side_7.secondary
                // <img src="http://styleguide.sciencemag.org/images/intrivoten.png">
                #aaas-oas_x51

        
      style.
        @media (min-width:48rem) {
        .container{-ms-flex-flow:row wrap;-ms-flex-line-pack:start;-webkit-box-direction:normal;-webkit-box-orient:horizontal;align-content:flex-start;display:-webkit-box;display:-ms-flexbox;display:flex;flex-flow:row wrap;min-width:0}
        }
            .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
                color: #495057;
                background-color: #f8f9fa;
                border-color: #dee2e6 #dee2e6 #dee2e6;
                }
