extends layout
block content
    .container
        .row

    .col-md-12.border-bottom.mt-2
      h2.text-center Search for an author profile
    .col-md-8.mx-auto.pt-2
      form.m-4
        .form-row
          .form-group.col-md-6
            label(for='inputEmail4') Author last name
            input#inputEmail4.form-control(type='text', placeholder='Author last name')
            p.mt-2 e.g. Smith
          .form-group.col-md-6
            label(for='inputPassword4') Author first name
            input#inputPassword4.form-control(type='text', placeholder='Author first name')
            p.mt-2 e.g. J.L.
        .form-row
          .form-group.col-md-6
            label(for='inputEmail4') Affiliation
            input#inputEmail4.form-control(type='text', placeholder='Author last name')
            p.mt-2 e.g. University of Toronto
          .form-group.col-md-2.d-flex.align-items-center.pl-4
            input#gridCheck.form-check-input(type='checkbox')
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') Show exact matches only
          .form-group.col-md-2.d-flex.align-items-center
            button.btn.btn-outline-dark.my-2.my-sm-0(type='submit') Search
        
    section.container-fluid.py-5
      h2.h3.block-title.text-center.pt-4
        span.font-weight-normal Explore
        |  CreateX Homepages
        small Explore the collection of carefully built landing pages
      .row.pt-4
        .col-xl-3.col-lg-4.col-sm-6.mb-2
          .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

        .col-xl-3.col-lg-4.col-sm-6.mb-2
          .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

        .col-xl-3.col-lg-4.col-sm-6.mb-2
         .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

        .col-xl-3.col-lg-4.col-sm-6.mb-2
         .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

        .col-xl-3.col-lg-4.col-sm-6.mb-2
         .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

        .col-xl-3.col-lg-4.col-sm-6.mb-2
          .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

        .col-xl-3.col-lg-4.col-sm-6.mb-2
         .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

        .col-xl-3.col-lg-4.col-sm-6.mb-2
         .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

        .col-xl-3.col-lg-4.col-sm-6.mb-2
         .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

        .col-xl-3.col-lg-4.col-sm-6.mb-2
         .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

        .col-xl-3.col-lg-4.col-sm-6.mb-2
          .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

        .col-xl-3.col-lg-4.col-sm-6.mb-2
         .carde
              .profile
                img(src='https://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg')
                .border
              .name
                p
                  a(href='#') Cole Townsend
              .numbers
                table#stats
                  tbody
                    tr
                      td 14
                      td ARTICLES
                    tr
                      td 171
                      td FOLLOWERS
                .divider
              a.btn.btn-follow1(href='#') Follow
              a.btn.btn-profile1(href='#') Profile

      button.btn.btn-dark.btn-sm.btn-block.mx-auto.mt-2(type='button', style='width: 20rem;') Більше авторів