extends layout

block content
    .row
      .w-100.hsw-carousel-feature-wrap
          .container
            #hswLatestCarousel.carousel.hsw-carousel.slide.mb-3(data-ride='carousel', data-interval='8000')
              ol.carousel-indicators
                li.active(data-target='#hswLatestCarousel', data-slide-to='0')
                li(data-target='#hswLatestCarousel', data-slide-to='1')
                li(data-target='#hswLatestCarousel', data-slide-to='2')
                li(data-target='#hswLatestCarousel', data-slide-to='3')
                li(data-target='#hswLatestCarousel', data-slide-to='4')
                li(data-target='#hswLatestCarousel', data-slide-to='5')
              .carousel-inner(data-tb-region='featured')
                .carousel-item.active(data-tb-region-item='')
                  a(href='https://health.howstuffworks.com/medicine/medication/stool-softeners-ease-poop.htm')
                    img.d-block(src='https://r.hswstatic.com/h_300/gif/stool-softener.jpg')
                  .carousel-caption
                    h3(data-charlen='36')
                      a(href='https://health.howstuffworks.com/medicine/medication/stool-softeners-ease-poop.htm') How Stool Softeners Help Ease the Go
                    p.d-none.d-lg-block.desc(data-max-size='240', data-charlen='103')
                      | When you feel like you're between a rock and a hard place, a stool softener could get you out of a jam.
                    p.byline
                      | by
                      a(href='https://www.howstuffworks.com/hsw-contact.htm', data-track-gtm='Author') Loraine  Fick
                      | 						 Apr 1 2019
                    p
                      button.btn.btn-light(type='button')(href='https://health.howstuffworks.com/medicine/medication/stool-softeners-ease-poop.htm') Learn More
                .carousel-item(data-tb-region-item='')
                  a(href='https://people.howstuffworks.com/culture-traditions/holidays-other/question604.htm')
                    img.d-block(src='https://r.hswstatic.com/h_300/gif/april-fool.jpg')
                  .carousel-caption
                    h3(data-charlen='46')
                      a(href='https://people.howstuffworks.com/culture-traditions/holidays-other/question604.htm') Why Is April 1 a Day to Celebrate Foolishness?
                    p.d-none.d-lg-block.desc(data-max-size='240', data-charlen='106')
                      | Why is April 1 a day to celebrate foolishness and play pranks on each other? How did this tradition begin?
                    p.byline by   						 Apr 1 2019
                    p
                      button.btn.btn-light(type='button')(href='https://people.howstuffworks.com/culture-traditions/holidays-other/question604.htm') Learn More
                .carousel-item(data-tb-region-item='')
                  a(href='https://people.howstuffworks.com/10-big-questions-about-buddhism-answered.htm')
                    img.d-block(src='https://r.hswstatic.com/h_300/gif/buddhism-questions-1.jpg')
                  .carousel-caption
                    h3(data-charlen='41')
                      a(href='https://people.howstuffworks.com/10-big-questions-about-buddhism-answered.htm') 10 Big Questions About Buddhism, Answered
                    p.d-none.d-lg-block.desc(data-max-size='240', data-charlen='160')
                      | What's the point of meditation? Are all Buddhists vegetarians and  pacifists? What do we misunderstand about Karma? Find out more about Buddhism in our article.
                    p.byline
                      | by
                      a(href='https://www.howstuffworks.com/about-dave-roos.htm', data-track-gtm='Author') Dave  Roos
                      | 						 Apr 1 2019
                    p
                      button.btn.btn-light(type='button')(href='https://people.howstuffworks.com/10-big-questions-about-buddhism-answered.htm') Learn More
                .carousel-item(data-tb-region-item='')
                  a(href='https://electronics.howstuffworks.com/gadgets/fitness/running-female-safety-apps-tech.htm')
                    img.d-block(src='https://r.hswstatic.com/h_300/gif/now-1769bf83-1aff-45ff-aac9-39a10a1de096-1210-680.jpg')
                  .carousel-caption
                    h3(data-charlen='42')
                      a(href='https://electronics.howstuffworks.com/gadgets/fitness/running-female-safety-apps-tech.htm') Running While Female: Safety Apps and Tech
                    p.d-none.d-lg-block.desc(data-max-size='240', data-charlen='140')
                      | Three attacks on female runners prompted us to check out what apps and tech are out there to help keep runners safe and logging those miles.
                    p.byline
                      | by
                      a(href='https://www.howstuffworks.com/about-author.htm', data-track-gtm='Author') Kate  Kershner
                    p
                      button.btn.btn-light(type='button')(href='https://electronics.howstuffworks.com/gadgets/fitness/running-female-safety-apps-tech.htm') Learn More
                .carousel-item(data-tb-region-item='')
                  a(href='https://science.howstuffworks.com/dictionary/astronomy-terms/solar-wind-info.htm')
                    img.d-block(src='https://r.hswstatic.com/h_300/gif/solarwind-update.jpg')
                  .carousel-caption
                    h3(data-charlen='19')
                      a(href='https://science.howstuffworks.com/dictionary/astronomy-terms/solar-wind-info.htm') What Is Solar Wind?
                    p.d-none.d-lg-block.desc(data-max-size='240', data-charlen='189')
                      | Solar wind is a continuous stream of mostly hydrogen and helium that flows outward from the sun in all directions. It does everything from disrupt GPS signals to create the aurora borealis.
                    p.byline
                      | by
                      a(href='https://www.howstuffworks.com/about-mark-mancini.htm', data-track-gtm='Author') Mark  Mancini
                      | 						 Mar 29 2019
                    p
                      button.btn.btn-light(type='button')(href='https://science.howstuffworks.com/dictionary/astronomy-terms/solar-wind-info.htm') Learn More
                .carousel-item(data-tb-region-item='')
                  a(href='https://animals.howstuffworks.com/insects/all-is-not-lost-monarchs.htm')
                    img.d-block(src='https://r.hswstatic.com/h_300/gif/now-X5w8BjJe-monarchs1origjpg-1210-680.jpg')
                  .carousel-caption
                    h3(data-charlen='45')
                      a(href='https://animals.howstuffworks.com/insects/all-is-not-lost-monarchs.htm') Monarch Butterfly Population Blooms This Year
                    p.d-none.d-lg-block.desc(data-max-size='240', data-charlen='104')
                      | After years in decline, monarchs made a spectacular comeback in 2019. Why's that — and will it continue?
                    p.byline
                      | by
                      a(href='https://www.howstuffworks.com/about-author.htm', data-track-gtm='Author') Maria  Trimarchi
                      | 						 Mar 29 2019
                    p
                      button.btn.btn-light(type='button')(href='https://animals.howstuffworks.com/insects/all-is-not-lost-monarchs.htm') Learn More
              a.carousel-control-prev(href='#hswLatestCarousel', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next(href='#hswLatestCarousel', role='button', data-slide='next', rel='noopener')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next

    br
    .container
        .row.mb-6
          .col-md-3.ml-auto
            h3 Обирай напрямок, який тобі більше до вподоби.
          .col-md-5.mr-auto
            p.lead.text-dark
              | Robust is a premium theme built with Bootstrap 4, the most popular UI framework. The theme is fully responsive and customizable and can be used for any type of web application.
    br
    section#sct_page_examples.slice
      .container
        .row
          .col-lg-3.col-md-6.mb-5.mb-lg-0
            div(data-animate-hover='1', data-toggle='hidden')
              .card.shadow.animate-this
                .py-3.text-center
                
                  img.img-saturate(alt='', src='https://img.icons8.com/ios/40/000000/formula-fx-filled.png', style='width: 35px;')
                .px-5.pb-2.text-center
                  a.btn.btn-sm.btn-dark.btn-circle(href='./pages/pages-secondary.html') Математичні науки
                  p.mt-4 Inner pages templates designed to cover a large number of purposes.
                  
          .col-lg-3.col-md-6.mb-5.mb-lg-0
            div(data-animate-hover='1', data-toggle='hidden')
              .card.shadow.animate-this
                .py-3.text-center
                  img.img-saturate(alt='', src='https://img.icons8.com/metro/40/000000/physics.png', style='width: 35px;')
                .px-5.pb-2.text-center
                  a.btn.btn-sm.btn-dark.btn-circle(href='./pages/pages-secondary.html') Фізичні науки
                  p.mt-4 Inner pages templates designed to cover a large number of purposes.
          .col-lg-3.col-md-6.mb-5.mb-lg-0
            div(data-animate-hover='1', data-toggle='hidden')
              .card.shadow.animate-this
                .py-3.text-center
                  img.img-saturate(alt='', src='https://img.icons8.com/metro/40/000000/microscope.png', style='width: 35px;')
                .px-5.pb-2.text-center
                  a.btn.btn-sm.btn-dark.btn-circle(href='./pages/pages-account.html') Біологичні науки
                  p.mt-4 Inner pages templates designed to cover a large number of purposes.
          .col-lg-3.col-md-6.mb-5.mb-lg-0
            div(data-animate-hover='1', data-toggle='hidden')
              .card.shadow.animate-this
                .py-3.text-center
                  img.img-saturate(alt='', src='https://img.icons8.com/metro/40/000000/caduceus.png', style='width: 35px;')
                .px-5.pb-2.text-center
                  a.btn.btn-sm.btn-dark.btn-circle(href='./pages/pages-shop.html') Медичні науки
                  p.mt-4 Inner pages templates designed to cover a large number of purposes.
        .fluid-paragraph.text-center.mt-5
        
       
            .row
              .col-lg-3.col-md-6.mb-5.mb-lg-0
                div(data-animate-hover='1', data-toggle='hidden')
                  .card.shadow.animate-this
                    .py-3.text-center
                      img.img-saturate(alt='', src='https://img.icons8.com/ios/40/000000/groups-filled.png', style='width: 35px;')
                    .px-5.pb-2.text-center
                      a.btn.btn-sm.btn-dark.btn-circle(href='./pages/pages-secondary.html') Суспільні науки
                      p.mt-4 Inner pages templates designed to cover a large number of purposes.
              .col-lg-3.col-md-6.mb-5.mb-lg-0
                div(data-animate-hover='1', data-toggle='hidden')
                  .card.shadow.animate-this
                    .py-3.text-center
                      img.img-saturate(alt='', src='https://img.icons8.com/ios/40/000000/stocks-filled.png', style='width: 35px;')
                    .px-5.pb-2.text-center
                      a.btn.btn-sm.btn-dark.btn-circle(href='./pages/pages-secondary.html') Економічні науки
                      p.mt-4 Inner pages templates designed to cover a large number of purposes.
              .col-lg-3.col-md-6.mb-5.mb-lg-0
                div(data-animate-hover='1', data-toggle='hidden')
                  .card.shadow.animate-this
                    .py-3.text-center
                      img.img-saturate(alt='', src='https://img.icons8.com/android/40/000000/forest.png', style='width: 35px;')
                    .px-5.pb-2.text-center
                      a.btn.btn-sm.btn-dark.btn-circle(href='./pages/pages-account.html') Природничі науки
                      p.mt-4 Inner pages templates designed to cover a large number of purposes.
              .col-lg-3.col-md-6.mb-5.mb-lg-0
                div(data-animate-hover='1', data-toggle='hidden')
                  .card.shadow.animate-this
                    .py-3.text-center
                      img.img-saturate(alt='', src='https://img.icons8.com/ios/40/000000/order-history-filled.png', style='width: 35px;')
                    .px-5.pb-2.text-center
                      a.btn.btn-sm.btn-dark.btn-circle(href='./pages/pages-shop.html') Гуманітарні науки
                      p.mt-4 Inner pages templates designed to cover a large number of purposes.
                      
                      
            h3.mt-5 Дослідіть наші аналітичні рішення
            
            .row.mt-5.d-flex.align-items-end
            
              .col-md-4
                img(src='images/1.png', alt='Grapefruit slice atop a pile of other slices')
                .media
                  .icon.mr-3
                  .media-body
                    h3.h4 Responsive
                    p.text-dark.text-center
                      | With mobile, tablet & desktop support it doesn't matter what device you're using. Robust is responsive in all browsers.
                    a.mdl(href='/plosone/s/editorial-and-peer-review-process') Editorial and peer review process

              .col-md-4
                img(src='images/2.png', alt='Grapefruit slice atop a pile of other slices')
                .media
                  .media-body
                    h3.h4 Customizable
                    p.text-dark.text-center
                      | You don't need to be an expert to customize Robust. Our code is very readable and well documented.
                    a.mdl(href='/plosone/s/editorial-and-peer-review-process') Editorial and peer review process
                    
              .col-md-4
                img(src='images/6.png', alt='Grapefruit slice atop a pile of other slices')
                .media
                  .media-body
                    h3.h4 Quick support
                    p.text-dark.text-center
                      | Robust is supported by specialists who provide quick and effective support. Usually an email reply takes <24h.
                    a.mdl(href='/plosone/s/editorial-and-peer-review-process') Editorial and peer review process
            // /.row
            .row.mt-5.d-flex.align-items-end
            
              .col-md-4
                img(src='images/3.png', alt='Grapefruit slice atop a pile of other slices')
                .media
                  .media-body
                    h3.h4 Cross browser
                    p.text-dark.text-center
                      | Robust works perfectly with: Chrome, Firefox, Safari, Opera and IE 10+. We're working hard to support them.
                    a.mdl(href='/plosone/s/editorial-and-peer-review-process') Editorial and peer review process
                    
              .col-md-4
                img(src='images/4.png', alt='Grapefruit slice atop a pile of other slices')
                .media
                  .media-body
                    h3.h4 Clean code
                    p.text-dark.text-center
                      | We strictly followed Bootstrap's guidelines to make your integration as easy as possible. All code is handwritten.
                    a.mdl(href='/plosone/s/editorial-and-peer-review-process') Editorial and peer review process
                    
              .col-md-4
                img.pst(src='images/5.png', alt='Grapefruit slice atop a pile of other slices')
                .media
                  .media-body
                    h3.h4 Free updates
                    p.text-dark.text-center
                      | From time to time you'll receive an update containing new components, improvements and bugfixes.
                    a.mdl(href='/plosone/s/editorial-and-peer-review-process') Editorial and peer review process
            // /.row
        br
    .container.mt-2.mb-2
      .row
        .col-lg-3.align-self-center
          .card.border-0.bg-light.bg-white.shadow.animate-this
            .card-body
              h5.card-title.text-center Зв'яжіться з нами
              p.text-center.card-text.lead Дізнайтеся більше про наші продукти та послуги
              button.btn.btnn.btn-dark(type='button') Дізнатись більше
        .col-lg-3.align-self-center
          .card.border-0.bg-light.bg-white.shadow.animate-this
            .card-body
              h5.card-title.text-center Медіа контакти
              p.text-center.card-text.lead Зверніться до члена команди з зв'язків зі ЗМІ
              button.btn.btnn.btn-dark(type='button') Контакти
        .col-lg-6.align-self-center
          .card.border-0.bg-light.bg-white.shadow.animate-this
            .card-body
              h5.card-title.text-center Приєднуйтесь до нашої команди
              p.text-center.card-text.lead
                | Хочете допомогти прискорити 
                br
                |  темпи інновацій?
                a.btn.btnn.btn-dark(href='#') Наші вакансії
              //button.btn.btnn.btn-dark(type='button') Наші вакансії
              // <a href="#" class="btnn btn-dark">Go somewhere</a>

            
            style.
                a.bfl+a.bfl { border-left: 1px solid #000000; padding-left:5px; }
                .pst{
                vertical-align: baseline;
                }
