extends layout
block content
    .row.bg-light
      .col-12
        .card-headerr
          .row
            .col-sm-4.text-left
              h2.card-category Наукові Журнали
            .col-sm-8
               ul#filterOptions.nav.nav-pills
                  li.active
                    a.all(href='#all') ВСІ
                  li.on
                    a.a(href='#') А
                  li.disabled
                    a Б
                  li.on
                    a.c(href='#') В
                  li.disabled
                    a Г
                  li.on
                    a.e(href='#') Ґ
                  li.disabled
                    a Д
                  li.disabled
                    a Е
                  li.disabled
                    a Є
                  li.on
                    a.i(href='#') Ж
                  li.on
                    a.j(href='#') З
                  li.disabled
                    a І
                  li.disabled
                    a Ї
                  li.disabled
                    a Й
                  li.disabled
                    a К
                  li.on
                    a.o(href='#') Л
                  li.on
                    a.p(href='#') М
                  li.disabled
                    a Н
                  li.disabled
                    a О
                  li.on
                    a.s(href='#') П
                  li.disabled
                    a Р
                  li.disabled
                    a С
                  li.disabled
                    a Т
                  li.disabled
                    a У
                  li.disabled
                    a Ф
                  li.disabled
                    a Х
                  li.disabled
                    a Ц
                  li.on
                    a.s(href='#') Ч
                  li.on
                    a.s(href='#') Ш
                  li.on
                    a.s(href='#') Щ
                  li.on
                    a.s(href='#') Ь
                  li.disabled
                    a.s(href='#') Ю
                  li.on
                    a.s(href='#') Я

        
    .row.m-3
      .col-12
      .col-lg-3.col-md-6
        .card.border-0.bg-transparent(style='width: 15rem;')
          a(href='#')
            img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
            C/O https://placeholder.com/', alt='...')
          .card-body(style='padding-left: 0px;')
            a(href='#')
            a(style='color: #343434;', href='#')
              | Some quick example text to build on the card title and make up the bulk of the card's content.
          h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
          span#bottom.line

      .col-lg-3.col-md-6.mb-2
       .card.border-0.bg-transparent(style='width: 15rem;')
          a(href='#')
            img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
            C/O https://placeholder.com/', alt='...')
          .card-body(style='padding-left: 0px;')
            a(href='#')
            a(style='color: #343434;', href='#')
              | Some quick example text to build on the card title and make up the bulk of the card's content.
          h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
          span#bottom.line

      .col-lg-3.col-md-6
          .card.border-0.bg-transparent(style='width: 15rem;')
              a(href='#')
                img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
                C/O https://placeholder.com/', alt='...')
              .card-body(style='padding-left: 0px;')
                a(href='#')
                a(style='color: #343434;', href='#')
                  | Some quick example text to build on the card title and make up the bulk of the card's content.
              h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
              span#bottom.line

      .col-lg-3.col-md-6
          .card.border-0.bg-transparent(style='width: 15rem;')
              a(href='#')
                img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
                C/O https://placeholder.com/', alt='...')
              .card-body(style='padding-left: 0px;')
                a(href='#')
                a(style='color: #343434;', href='#')
                  | Some quick example text to build on the card title and make up the bulk of the card's content.
              h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
              span#bottom.line
              .col-12
      .col-lg-3.col-md-6
        .card.border-0.bg-transparent(style='width: 15rem;')
          a(href='#')
            img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
            C/O https://placeholder.com/', alt='...')
          .card-body(style='padding-left: 0px;')
            a(href='#')
            a(style='color: #343434;', href='#')
              | Some quick example text to build on the card title and make up the bulk of the card's content.
          h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
          span#bottom.line

      .col-lg-3.col-md-6
       .card.border-0.bg-transparent(style='width: 15rem;')
          a(href='#')
            img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
            C/O https://placeholder.com/', alt='...')
          .card-body(style='padding-left: 0px;')
            a(href='#')
            a(style='color: #343434;', href='#')
              | Some quick example text to build on the card title and make up the bulk of the card's content.
          h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
          span#bottom.line

      .col-lg-3.col-md-6.mb-2
          .card.border-0.bg-transparent(style='width: 15rem;')
              a(href='#')
                img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
                C/O https://placeholder.com/', alt='...')
              .card-body(style='padding-left: 0px;')
                a(href='#')
                a(style='color: #343434;', href='#')
                  | Some quick example text to build on the card title and make up the bulk of the card's content.
              h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
              span#bottom.line

      .col-lg-3.col-md-6
          .card.border-0.bg-transparent(style='width: 15rem;')
              a(href='#')
                img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
                C/O https://placeholder.com/', alt='...')
              .card-body(style='padding-left: 0px;')
                a(href='#')
                a(style='color: #343434;', href='#')
                  | Some quick example text to build on the card title and make up the bulk of the card's content.
              h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
              span#bottom.line
              .col-12
      .col-lg-3.col-md-6
        .card.border-0.bg-transparent(style='width: 15rem;')
          a(href='#')
            img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
            C/O https://placeholder.com/', alt='...')
          .card-body(style='padding-left: 0px;')
            a(href='#')
            a(style='color: #343434;', href='#')
              | Some quick example text to build on the card title and make up the bulk of the card's content.
          h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
          span#bottom.line

      .col-lg-3.col-md-6
       .card.border-0.bg-transparent(style='width: 15rem;')
          a(href='#')
            img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
            C/O https://placeholder.com/', alt='...')
          .card-body(style='padding-left: 0px;')
            a(href='#')
            a(style='color: #343434;', href='#')
              | Some quick example text to build on the card title and make up the bulk of the card's content.
          h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
          span#bottom.line

      .col-lg-3.col-md-6
          .card.border-0.bg-transparent(style='width: 15rem;')
              a(href='#')
                img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
                C/O https://placeholder.com/', alt='...')
              .card-body(style='padding-left: 0px;')
                a(href='#')
                a(style='color: #343434;', href='#')
                  | Some quick example text to build on the card title and make up the bulk of the card's content.
              h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
              span#bottom.line

      .col-lg-3.col-md-6
          .card.border-0.bg-transparent(style='width: 15rem;')
              a(href='#')
                img.img-polaroid(src='https://via.placeholder.com/150x200/000000/ffffff/\
                C/O https://placeholder.com/', alt='...')
              .card-body(style='padding-left: 0px;')
                a(href='#')
                a(style='color: #343434;', href='#')
                  | Some quick example text to build on the card title and make up the bulk of the card's content.
              h5.font-weight-bold(style='color: #343434;') ISSN: 1557-4989
              span#bottom.line
    button.btn.btn-dark.btn-sm.btn-block.mx-auto.mt-2.mb-2(type='button', style='width: 20rem;') Більше журналів
    //-
        .container.jumbotron.mt-5
              #content_7.primary
                h2.text-center Як зробити публікацію
                p
                  | Сила науки та її інтернет-журнал-сайти спирається на сильні сторони своєї спільноти авторів, які забезпечують передові дослідження, гострі наукові коментарі та розуміння того, що важливо для наукового світу. Щоб дізнатися більше про те, як опублікувати їх у будь-якому з наших журналів, відвідайте наш посібник для учасників, або відвідайте сторінку інструкцій для кожного окремого журналу.
                p
                  a.bfl(href='//www.sciencemag.org/authors/information-authors')
                    cite Наука
                  |  
                  a.bfl(href='//advances.sciencemag.org/content/information-authors')
                    cite Досягнення науки
                  |  
                  a.bfl(href='//www.sciencemag.org/journals/immunology/information-for-authors')
                    cite Наукова імунологія
                  |  
                  a.bfl(href='//stke.sciencemag.org/about/ifora')
                    cite Сигналізування науки
                  |  
                  a.bfl(href='//stke.sciencemag.org/about/ifora')
                    cite Інформація для авторів
                  |  
                  a.bfl(href='//stm.sciencemag.org/content/information-authors')
                    cite Наукова трансляційна медицина
                a.button.btn.btn-dark(type='button')(style='width: auto; display: inline-block;', href='#') Почати
              #content_side_7.secondary
                // <img src="http://styleguide.sciencemag.org/images/intrivoten.png">
                #aaas-oas_x51